<div class="row justify-content-center">
    <div class="col-11">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
           
            <!-- <h2 id="jhi-a-propos-heading" >Update About Us Section</h2> -->
            <a> 
                <span (click)="back()" >
                <img src="../../../content/images/iotaOrign-images/arrow-left.png" width="4%" alt="back">
                 <span class="arrow-back-update" jhiTranslate="iotaOrignAdminApp.aPropos.home.backButton">Back</span>    
                </span>
            </a>
            &nbsp;&nbsp; | &nbsp;&nbsp;
            <span jhiTranslate="iotaOrignAdminApp.aPropos.home.title" class="section-title">Intro Section</span>
             &nbsp;&nbsp; | &nbsp;&nbsp;  
            <span *ngIf="isAproposNoExist === 'true'" id="jhi-aPropos-heading" jhiTranslate="iotaOrignAdminApp.aPropos.home.createLabel" 
            class="section-title2"> 
                Create Intro Section
            </span>
            <span *ngIf="isAproposNoExist != 'true'" id="jhi-aPropos-heading" jhiTranslate="iotaOrignAdminApp.aPropos.home.EditLabel" 
            class="section-title2">
                Update Intro Section
            </span>
            
            <hr>

            <div>
                    <jhi-alert-error></jhi-alert-error>              

                    <div *ngIf="eltChoisi === 'titre' || isAproposNoExist === 'true'">

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.titreEn" 
                            for="field_titreEn">English Title
                            </label>                              
                            <input type="text" class="form-control" name="titreEn" id="field_titreEn"
                                formControlName="titreEn"/>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.titreGer" 
                            for="field_titreEn">German Title
                            </label> 
                            <input type="text" class="form-control" name="titreGer" id="field_titreGer"
                                formControlName="titreGer"/>
                        </div>

                        <div class="form-group">                         
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.titreFr" 
                            for="field_titreEn">French Titlee
                            </label>                           
                            <input type="text" class="form-control" name="titreFr" id="field_titreFr"
                                formControlName="titreFr"/>
                        </div>

                        <div class="form-group"> 
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.titreSw" 
                                for="field_titreEn">Swahili Title
                            </label> 
                            <input type="text" class="form-control" name="titreSw" id="field_titreSw"
                                formControlName="titreSw"/>
                        </div>
                    </div>   


                    <div *ngIf="eltChoisi === 'paragraphe1' || isAproposNoExist === 'true'"> 
                        
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.textParagraphe1En" 
                                for="field_titreEn">Text content English
                            </label>                             
                            <ckeditor [editor]="Editor" name="textParagraphe1En" 
                                        id="field_textParagraphe1En" formControlName="textParagraphe1En" 
                                        data="textParagraphe1En">
                            </ckeditor> 
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.textParagraphe1Ger" 
                                for="field_titreEn">Text content German
                            </label>
                            <ckeditor [editor]="Editor" name="textParagraphe1Ger" 
                                        id="field_textParagraphe1Ger" formControlName="textParagraphe1Ger" 
                                        data="textParagraphe1Ger">
                            </ckeditor> 
                        </div>
 
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.textParagraphe1Fr" 
                                for="field_titreEn">Text content French
                            </label>
                            <ckeditor [editor]="Editor" name="textParagraphe1Fr" 
                                            id="field_textParagraphe1Fr" formControlName="textParagraphe1Fr" 
                                            data="textParagraphe1Fr">
                            </ckeditor>
                        </div>

                        <div class="form-group">                       
                            <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.aPropos.textParagraphe1Sw" 
                                for="field_titreEn">Text content Swahili
                            </label>   
                            <ckeditor [editor]="Editor" name="textParagraphe1Sw" 
                                        id="field_textParagraphe1Sw" formControlName="textParagraphe1Sw" 
                                        data="textParagraphe1Sw">
                            </ckeditor> 
                           
                        </div>
                </div>

            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
