<div>
    <!--Stard header to A_Propos section  -->
    <h3 id="page-heading" class="intro-button">
        <a> 
           <span (click)="back()">
                <img src="../../../content/images/iotaOrign-images/arrow-left.png" width="3%" alt="back">
                <span class="arrow-back" jhiTranslate="iotaOrignAdminApp.accueil.home.backButton">Back</span>    
            </span>
        </a>
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <span jhiTranslate="iotaOrignAdminApp.aPropos.home.title">About us Section</span>
         &nbsp;&nbsp; | &nbsp;&nbsp;
        <span *ngIf="aPropos.length > 0" style="color: rgb(82, 82, 82); font-size:60%" jhiTranslate="iotaOrignAdminApp.aPropos.home.consigne">
            Cliquez sur l'élément que vous souhaitez mettre à jour.
        </span>    

        <button *ngIf="aPropos.length < 1" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-aPropos" 
            [routerLink]="['/a-propos/new']"
            (click)="createApropos()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotaOrignAdminApp.aPropos.home.createLabel">Create a new A Propos</span>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button *ngIf="aPropos.length >= 1" type="submit" (click)="delete(aPropos[0])"
                class="btn btn-danger btn-sm">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </h3>
    <hr>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="aPropos?.length === 0">
        <span jhiTranslate="iotaOrignAdminApp.aPropos.home.notFound">No aPropos found</span>
    </div>
    <!--End header to A_Propos section  -->

    
    <!-- START THE SECTION : A PROPOS  -->
    <div>      
        <section id="about-us" class="about-us">
            <div class="container pt-5">
                <div class="row text-center">
                    <h1 class="fw-bold title-style" *ngIf="aPropos[0]" [routerLink]="['/a-propos', aPropos[0].id, 'edit']">
                       <a> 
                           <span class="display-2--intro" (click)="update('titre')">
                                <span *ngIf="languageService.currentLang === 'fr'">{{aPropos[0].titreFr}}</span>
                                <span *ngIf="languageService.currentLang === 'en'">{{aPropos[0].titreEn}}</span>
                                <span *ngIf="languageService.currentLang === 'es'">{{aPropos[0].titreSw}}</span>
                                <span *ngIf="languageService.currentLang === 'de'">{{aPropos[0].titreGer}}</span>
                            </span>
                        </a>
                    </h1>
                </div>
    
                <!-- START THE DESCRIPTION CONTENT -->
                <div class="row description pt-2 pb-5 mt-0 mb-3">
                    <p class="description--info anim-elt-6">                      
                        <div (click)="update('paragraphe1')" [routerLink]="['/a-propos', aPropos[0].id, 'edit']" *ngIf="aPropos[0]" >
                            <a class="paragraphe-style ">
                                <div *ngIf="languageService.currentLang === 'fr'" [innerHTML]="aPropos[0].textParagraphe1Fr"></div>
                                <div *ngIf="languageService.currentLang === 'en'" [innerHTML]="aPropos[0].textParagraphe1En"></div>
                                <div *ngIf="languageService.currentLang === 'es'" [innerHTML]="aPropos[0].textParagraphe1Sw"></div>
                                <div *ngIf="languageService.currentLang === 'de'" [innerHTML]="aPropos[0].textParagraphe1Ger"></div>
                            </a>
                        </div>
                    </p>                                 
                </div>
            </div>
        </section>
    </div>
    <!-- END THE SECTION : A PROPOS  -->
</div>
