<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dernieres-nouvelles-heading" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.home.createOrEditLabel">Create or edit a Dernieres Nouvelles</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreFr" for="field_titreFr">Titre Fr</label>
                    <input type="text" class="form-control" name="titreFr" id="field_titreFr"
                           formControlName="titreFr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreEn" for="field_titreEn">Titre En</label>
                    <input type="text" class="form-control" name="titreEn" id="field_titreEn"
                           formControlName="titreEn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreGer" for="field_titreGer">Titre Ger</label>
                    <input type="text" class="form-control" name="titreGer" id="field_titreGer"
                           formControlName="titreGer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSw" for="field_titreSw">Titre Sw</label>
                    <input type="text" class="form-control" name="titreSw" id="field_titreSw"
                           formControlName="titreSw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreFr" for="field_sousTitreFr">Sous Titre Fr</label>
                    <input type="text" class="form-control" name="sousTitreFr" id="field_sousTitreFr"
                           formControlName="sousTitreFr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreEn" for="field_sousTitreEn">Sous Titre En</label>
                    <input type="text" class="form-control" name="sousTitreEn" id="field_sousTitreEn"
                           formControlName="sousTitreEn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreGer" for="field_sousTitreGer">Sous Titre Ger</label>
                    <input type="text" class="form-control" name="sousTitreGer" id="field_sousTitreGer"
                           formControlName="sousTitreGer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreSw" for="field_sousTitreSw">Sous Titre Sw</label>
                    <input type="text" class="form-control" name="sousTitreSw" id="field_sousTitreSw"
                           formControlName="sousTitreSw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Fr" for="field_titreSlide1Fr">Titre Slide 1 Fr</label>
                    <input type="text" class="form-control" name="titreSlide1Fr" id="field_titreSlide1Fr"
                           formControlName="titreSlide1Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1En" for="field_titreSlide1En">Titre Slide 1 En</label>
                    <input type="text" class="form-control" name="titreSlide1En" id="field_titreSlide1En"
                           formControlName="titreSlide1En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Ger" for="field_titreSlide1Ger">Titre Slide 1 Ger</label>
                    <input type="text" class="form-control" name="titreSlide1Ger" id="field_titreSlide1Ger"
                           formControlName="titreSlide1Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Sw" for="field_titreSlide1Sw">Titre Slide 1 Sw</label>
                    <input type="text" class="form-control" name="titreSlide1Sw" id="field_titreSlide1Sw"
                           formControlName="titreSlide1Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Fr" for="field_titreSlide2Fr">Titre Slide 2 Fr</label>
                    <input type="text" class="form-control" name="titreSlide2Fr" id="field_titreSlide2Fr"
                           formControlName="titreSlide2Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2En" for="field_titreSlide2En">Titre Slide 2 En</label>
                    <input type="text" class="form-control" name="titreSlide2En" id="field_titreSlide2En"
                           formControlName="titreSlide2En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Ger" for="field_titreSlide2Ger">Titre Slide 2 Ger</label>
                    <input type="text" class="form-control" name="titreSlide2Ger" id="field_titreSlide2Ger"
                           formControlName="titreSlide2Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Sw" for="field_titreSlide2Sw">Titre Slide 2 Sw</label>
                    <input type="text" class="form-control" name="titreSlide2Sw" id="field_titreSlide2Sw"
                           formControlName="titreSlide2Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Fr" for="field_titreSlide3Fr">Titre Slide 3 Fr</label>
                    <input type="text" class="form-control" name="titreSlide3Fr" id="field_titreSlide3Fr"
                           formControlName="titreSlide3Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3En" for="field_titreSlide3En">Titre Slide 3 En</label>
                    <input type="text" class="form-control" name="titreSlide3En" id="field_titreSlide3En"
                           formControlName="titreSlide3En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Ger" for="field_titreSlide3Ger">Titre Slide 3 Ger</label>
                    <input type="text" class="form-control" name="titreSlide3Ger" id="field_titreSlide3Ger"
                           formControlName="titreSlide3Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Sw" for="field_titreSlide3Sw">Titre Slide 3 Sw</label>
                    <input type="text" class="form-control" name="titreSlide3Sw" id="field_titreSlide3Sw"
                           formControlName="titreSlide3Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Fr" for="field_titreSlide4Fr">Titre Slide 4 Fr</label>
                    <input type="text" class="form-control" name="titreSlide4Fr" id="field_titreSlide4Fr"
                           formControlName="titreSlide4Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4En" for="field_titreSlide4En">Titre Slide 4 En</label>
                    <input type="text" class="form-control" name="titreSlide4En" id="field_titreSlide4En"
                           formControlName="titreSlide4En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Ger" for="field_titreSlide4Ger">Titre Slide 4 Ger</label>
                    <input type="text" class="form-control" name="titreSlide4Ger" id="field_titreSlide4Ger"
                           formControlName="titreSlide4Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Sw" for="field_titreSlide4Sw">Titre Slide 4 Sw</label>
                    <input type="text" class="form-control" name="titreSlide4Sw" id="field_titreSlide4Sw"
                           formControlName="titreSlide4Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Fr" for="field_titreSlide5Fr">Titre Slide 5 Fr</label>
                    <input type="text" class="form-control" name="titreSlide5Fr" id="field_titreSlide5Fr"
                           formControlName="titreSlide5Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5En" for="field_titreSlide5En">Titre Slide 5 En</label>
                    <input type="text" class="form-control" name="titreSlide5En" id="field_titreSlide5En"
                           formControlName="titreSlide5En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Ger" for="field_titreSlide5Ger">Titre Slide 5 Ger</label>
                    <input type="text" class="form-control" name="titreSlide5Ger" id="field_titreSlide5Ger"
                           formControlName="titreSlide5Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Sw" for="field_titreSlide5Sw">Titre Slide 5 Sw</label>
                    <input type="text" class="form-control" name="titreSlide5Sw" id="field_titreSlide5Sw"
                           formControlName="titreSlide5Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Fr" for="field_titreSlide6Fr">Titre Slide 6 Fr</label>
                    <input type="text" class="form-control" name="titreSlide6Fr" id="field_titreSlide6Fr"
                           formControlName="titreSlide6Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6En" for="field_titreSlide6En">Titre Slide 6 En</label>
                    <input type="text" class="form-control" name="titreSlide6En" id="field_titreSlide6En"
                           formControlName="titreSlide6En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Ger" for="field_titreSlide6Ger">Titre Slide 6 Ger</label>
                    <input type="text" class="form-control" name="titreSlide6Ger" id="field_titreSlide6Ger"
                           formControlName="titreSlide6Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Sw" for="field_titreSlide6Sw">Titre Slide 6 Sw</label>
                    <input type="text" class="form-control" name="titreSlide6Sw" id="field_titreSlide6Sw"
                           formControlName="titreSlide6Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Fr" for="field_titreSlide7Fr">Titre Slide 7 Fr</label>
                    <input type="text" class="form-control" name="titreSlide7Fr" id="field_titreSlide7Fr"
                           formControlName="titreSlide7Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7En" for="field_titreSlide7En">Titre Slide 7 En</label>
                    <input type="text" class="form-control" name="titreSlide7En" id="field_titreSlide7En"
                           formControlName="titreSlide7En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Ger" for="field_titreSlide7Ger">Titre Slide 7 Ger</label>
                    <input type="text" class="form-control" name="titreSlide7Ger" id="field_titreSlide7Ger"
                           formControlName="titreSlide7Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Sw" for="field_titreSlide7Sw">Titre Slide 7 Sw</label>
                    <input type="text" class="form-control" name="titreSlide7Sw" id="field_titreSlide7Sw"
                           formControlName="titreSlide7Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Fr" for="field_titreSlide8Fr">Titre Slide 8 Fr</label>
                    <input type="text" class="form-control" name="titreSlide8Fr" id="field_titreSlide8Fr"
                           formControlName="titreSlide8Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8En" for="field_titreSlide8En">Titre Slide 8 En</label>
                    <input type="text" class="form-control" name="titreSlide8En" id="field_titreSlide8En"
                           formControlName="titreSlide8En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Ger" for="field_titreSlide8Ger">Titre Slide 8 Ger</label>
                    <input type="text" class="form-control" name="titreSlide8Ger" id="field_titreSlide8Ger"
                           formControlName="titreSlide8Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Sw" for="field_titreSlide8Sw">Titre Slide 8 Sw</label>
                    <input type="text" class="form-control" name="titreSlide8Sw" id="field_titreSlide8Sw"
                           formControlName="titreSlide8Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Fr" for="field_titreSlide9Fr">Titre Slide 9 Fr</label>
                    <input type="text" class="form-control" name="titreSlide9Fr" id="field_titreSlide9Fr"
                           formControlName="titreSlide9Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9En" for="field_titreSlide9En">Titre Slide 9 En</label>
                    <input type="text" class="form-control" name="titreSlide9En" id="field_titreSlide9En"
                           formControlName="titreSlide9En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Ger" for="field_titreSlide9Ger">Titre Slide 9 Ger</label>
                    <input type="text" class="form-control" name="titreSlide9Ger" id="field_titreSlide9Ger"
                           formControlName="titreSlide9Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Sw" for="field_titreSlide9Sw">Titre Slide 9 Sw</label>
                    <input type="text" class="form-control" name="titreSlide9Sw" id="field_titreSlide9Sw"
                           formControlName="titreSlide9Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OFr" for="field_titreSlide1OFr">Titre Slide 1 O Fr</label>
                    <input type="text" class="form-control" name="titreSlide1OFr" id="field_titreSlide1OFr"
                           formControlName="titreSlide1OFr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OEn" for="field_titreSlide1OEn">Titre Slide 1 O En</label>
                    <input type="text" class="form-control" name="titreSlide1OEn" id="field_titreSlide1OEn"
                           formControlName="titreSlide1OEn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OGer" for="field_titreSlide1OGer">Titre Slide 1 O Ger</label>
                    <input type="text" class="form-control" name="titreSlide1OGer" id="field_titreSlide1OGer"
                           formControlName="titreSlide1OGer"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OSw" for="field_titreSlide1OSw">Titre Slide 1 O Sw</label>
                    <input type="text" class="form-control" name="titreSlide1OSw" id="field_titreSlide1OSw"
                           formControlName="titreSlide1OSw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Fr" for="field_textSlide1Fr">Text Slide 1 Fr</label>
                    <input type="text" class="form-control" name="textSlide1Fr" id="field_textSlide1Fr"
                           formControlName="textSlide1Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1En" for="field_textSlide1En">Text Slide 1 En</label>
                    <input type="text" class="form-control" name="textSlide1En" id="field_textSlide1En"
                           formControlName="textSlide1En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Ger" for="field_textSlide1Ger">Text Slide 1 Ger</label>
                    <input type="text" class="form-control" name="textSlide1Ger" id="field_textSlide1Ger"
                           formControlName="textSlide1Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Sw" for="field_textSlide1Sw">Text Slide 1 Sw</label>
                    <input type="text" class="form-control" name="textSlide1Sw" id="field_textSlide1Sw"
                           formControlName="textSlide1Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Fr" for="field_textSlide2Fr">Text Slide 2 Fr</label>
                    <input type="text" class="form-control" name="textSlide2Fr" id="field_textSlide2Fr"
                           formControlName="textSlide2Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2En" for="field_textSlide2En">Text Slide 2 En</label>
                    <input type="text" class="form-control" name="textSlide2En" id="field_textSlide2En"
                           formControlName="textSlide2En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Ger" for="field_textSlide2Ger">Text Slide 2 Ger</label>
                    <input type="text" class="form-control" name="textSlide2Ger" id="field_textSlide2Ger"
                           formControlName="textSlide2Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Sw" for="field_textSlide2Sw">Text Slide 2 Sw</label>
                    <input type="text" class="form-control" name="textSlide2Sw" id="field_textSlide2Sw"
                           formControlName="textSlide2Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Fr" for="field_textSlide3Fr">Text Slide 3 Fr</label>
                    <input type="text" class="form-control" name="textSlide3Fr" id="field_textSlide3Fr"
                           formControlName="textSlide3Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3En" for="field_textSlide3En">Text Slide 3 En</label>
                    <input type="text" class="form-control" name="textSlide3En" id="field_textSlide3En"
                           formControlName="textSlide3En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Ger" for="field_textSlide3Ger">Text Slide 3 Ger</label>
                    <input type="text" class="form-control" name="textSlide3Ger" id="field_textSlide3Ger"
                           formControlName="textSlide3Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Sw" for="field_textSlide3Sw">Text Slide 3 Sw</label>
                    <input type="text" class="form-control" name="textSlide3Sw" id="field_textSlide3Sw"
                           formControlName="textSlide3Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Fr" for="field_textSlide4Fr">Text Slide 4 Fr</label>
                    <input type="text" class="form-control" name="textSlide4Fr" id="field_textSlide4Fr"
                           formControlName="textSlide4Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4En" for="field_textSlide4En">Text Slide 4 En</label>
                    <input type="text" class="form-control" name="textSlide4En" id="field_textSlide4En"
                           formControlName="textSlide4En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Ger" for="field_textSlide4Ger">Text Slide 4 Ger</label>
                    <input type="text" class="form-control" name="textSlide4Ger" id="field_textSlide4Ger"
                           formControlName="textSlide4Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Sw" for="field_textSlide4Sw">Text Slide 4 Sw</label>
                    <input type="text" class="form-control" name="textSlide4Sw" id="field_textSlide4Sw"
                           formControlName="textSlide4Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Fr" for="field_textSlide5Fr">Text Slide 5 Fr</label>
                    <input type="text" class="form-control" name="textSlide5Fr" id="field_textSlide5Fr"
                           formControlName="textSlide5Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5En" for="field_textSlide5En">Text Slide 5 En</label>
                    <input type="text" class="form-control" name="textSlide5En" id="field_textSlide5En"
                           formControlName="textSlide5En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Ger" for="field_textSlide5Ger">Text Slide 5 Ger</label>
                    <input type="text" class="form-control" name="textSlide5Ger" id="field_textSlide5Ger"
                           formControlName="textSlide5Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Sw" for="field_textSlide5Sw">Text Slide 5 Sw</label>
                    <input type="text" class="form-control" name="textSlide5Sw" id="field_textSlide5Sw"
                           formControlName="textSlide5Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Fr" for="field_textSlide6Fr">Text Slide 6 Fr</label>
                    <input type="text" class="form-control" name="textSlide6Fr" id="field_textSlide6Fr"
                           formControlName="textSlide6Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6En" for="field_textSlide6En">Text Slide 6 En</label>
                    <input type="text" class="form-control" name="textSlide6En" id="field_textSlide6En"
                           formControlName="textSlide6En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Ger" for="field_textSlide6Ger">Text Slide 6 Ger</label>
                    <input type="text" class="form-control" name="textSlide6Ger" id="field_textSlide6Ger"
                           formControlName="textSlide6Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Sw" for="field_textSlide6Sw">Text Slide 6 Sw</label>
                    <input type="text" class="form-control" name="textSlide6Sw" id="field_textSlide6Sw"
                           formControlName="textSlide6Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Fr" for="field_textSlide7Fr">Text Slide 7 Fr</label>
                    <input type="text" class="form-control" name="textSlide7Fr" id="field_textSlide7Fr"
                           formControlName="textSlide7Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7En" for="field_textSlide7En">Text Slide 7 En</label>
                    <input type="text" class="form-control" name="textSlide7En" id="field_textSlide7En"
                           formControlName="textSlide7En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Ger" for="field_textSlide7Ger">Text Slide 7 Ger</label>
                    <input type="text" class="form-control" name="textSlide7Ger" id="field_textSlide7Ger"
                           formControlName="textSlide7Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Sw" for="field_textSlide7Sw">Text Slide 7 Sw</label>
                    <input type="text" class="form-control" name="textSlide7Sw" id="field_textSlide7Sw"
                           formControlName="textSlide7Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Fr" for="field_textSlide8Fr">Text Slide 8 Fr</label>
                    <input type="text" class="form-control" name="textSlide8Fr" id="field_textSlide8Fr"
                           formControlName="textSlide8Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8En" for="field_textSlide8En">Text Slide 8 En</label>
                    <input type="text" class="form-control" name="textSlide8En" id="field_textSlide8En"
                           formControlName="textSlide8En"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Ger" for="field_textSlide8Ger">Text Slide 8 Ger</label>
                    <input type="text" class="form-control" name="textSlide8Ger" id="field_textSlide8Ger"
                           formControlName="textSlide8Ger"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Sw" for="field_textSlide8Sw">Text Slide 8 Sw</label>
                    <input type="text" class="form-control" name="textSlide8Sw" id="field_textSlide8Sw"
                           formControlName="textSlide8Sw"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9Fr" for="field_textSlide9Fr">Text Slide 9 Fr</label>
                    <input type="text" class="form-control" name="textSlide9Fr" id="field_textSlide9Fr"
                           formControlName="textSlide9Fr"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9En" for="field_textSlide9En">Text Slide 9 En</label>
                    <input type="text" class="form-control" name="textSlide9En" id="field_textSlide9En"
                           formControlName="textSlide9En"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
