.arrow-back {
    color: #3e8acc;
    font-size: 80%;
  }
  
  .section-title {
    font-size: 140%;
    font-weight: bold;
  }
  
  .section-title2 {
    font-size: 100%;
    font-weight: bold;
  }

  .arrow-back-update {
    color: #3e8acc;
    font-size: 100%;
  }

  .image-style {
    margin-top: 2%;
  }