<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dernieresNouvelles">
            <h2><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.detail.title">Dernieres Nouvelles</span> {{ dernieresNouvelles.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreFr">Titre Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreEn">Titre En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreGer">Titre Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSw">Titre Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreFr">Sous Titre Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.sousTitreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreEn">Sous Titre En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.sousTitreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreGer">Sous Titre Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.sousTitreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.sousTitreSw">Sous Titre Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.sousTitreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Fr">Titre Slide 1 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1En">Titre Slide 1 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Ger">Titre Slide 1 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1Sw">Titre Slide 1 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Fr">Titre Slide 2 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide2Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2En">Titre Slide 2 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide2En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Ger">Titre Slide 2 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide2Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide2Sw">Titre Slide 2 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide2Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Fr">Titre Slide 3 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide3Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3En">Titre Slide 3 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide3En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Ger">Titre Slide 3 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide3Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide3Sw">Titre Slide 3 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide3Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Fr">Titre Slide 4 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide4Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4En">Titre Slide 4 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide4En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Ger">Titre Slide 4 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide4Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide4Sw">Titre Slide 4 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide4Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Fr">Titre Slide 5 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide5Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5En">Titre Slide 5 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide5En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Ger">Titre Slide 5 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide5Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide5Sw">Titre Slide 5 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide5Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Fr">Titre Slide 6 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide6Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6En">Titre Slide 6 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide6En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Ger">Titre Slide 6 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide6Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide6Sw">Titre Slide 6 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide6Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Fr">Titre Slide 7 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide7Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7En">Titre Slide 7 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide7En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Ger">Titre Slide 7 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide7Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide7Sw">Titre Slide 7 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide7Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Fr">Titre Slide 8 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide8Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8En">Titre Slide 8 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide8En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Ger">Titre Slide 8 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide8Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide8Sw">Titre Slide 8 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide8Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Fr">Titre Slide 9 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide9Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9En">Titre Slide 9 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide9En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Ger">Titre Slide 9 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide9Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide9Sw">Titre Slide 9 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide9Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OFr">Titre Slide 1 O Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1OFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OEn">Titre Slide 1 O En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1OEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OGer">Titre Slide 1 O Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1OGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.titreSlide1OSw">Titre Slide 1 O Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.titreSlide1OSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Fr">Text Slide 1 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide1Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1En">Text Slide 1 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide1En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Ger">Text Slide 1 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide1Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide1Sw">Text Slide 1 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide1Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Fr">Text Slide 2 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide2Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2En">Text Slide 2 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide2En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Ger">Text Slide 2 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide2Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide2Sw">Text Slide 2 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide2Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Fr">Text Slide 3 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide3Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3En">Text Slide 3 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide3En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Ger">Text Slide 3 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide3Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide3Sw">Text Slide 3 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide3Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Fr">Text Slide 4 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide4Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4En">Text Slide 4 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide4En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Ger">Text Slide 4 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide4Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide4Sw">Text Slide 4 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide4Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Fr">Text Slide 5 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide5Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5En">Text Slide 5 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide5En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Ger">Text Slide 5 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide5Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide5Sw">Text Slide 5 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide5Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Fr">Text Slide 6 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide6Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6En">Text Slide 6 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide6En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Ger">Text Slide 6 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide6Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide6Sw">Text Slide 6 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide6Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Fr">Text Slide 7 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide7Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7En">Text Slide 7 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide7En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Ger">Text Slide 7 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide7Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide7Sw">Text Slide 7 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide7Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Fr">Text Slide 8 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide8Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8En">Text Slide 8 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide8En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Ger">Text Slide 8 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide8Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide8Sw">Text Slide 8 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide8Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9Fr">Text Slide 9 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide9Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9En">Text Slide 9 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide9En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9Ger">Text Slide 9 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide9Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide9Sw">Text Slide 9 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide9Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide10Fr">Text Slide 10 Fr</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide10Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide10En">Text Slide 10 En</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide10En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide10Ger">Text Slide 10 Ger</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide10Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.textSlide10Sw">Text Slide 10 Sw</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.textSlide10Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide1">Image Slide 1</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide1">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide1ContentType!, dernieresNouvelles?.imageSlide1)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide1ContentType + ';base64,' + dernieresNouvelles.imageSlide1" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide1ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide1) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide2">Image Slide 2</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide2">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide2ContentType!, dernieresNouvelles?.imageSlide2)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide2ContentType + ';base64,' + dernieresNouvelles.imageSlide2" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide2ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide2) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide3">Image Slide 3</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide3">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide3ContentType!, dernieresNouvelles?.imageSlide3)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide3ContentType + ';base64,' + dernieresNouvelles.imageSlide3" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide3ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide3) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide4">Image Slide 4</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide4">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide4ContentType!, dernieresNouvelles?.imageSlide4)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide4ContentType + ';base64,' + dernieresNouvelles.imageSlide4" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide4ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide4) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide5">Image Slide 5</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide5">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide5ContentType!, dernieresNouvelles?.imageSlide5)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide5ContentType + ';base64,' + dernieresNouvelles.imageSlide5" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide5ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide5) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide6">Image Slide 6</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide6">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide6ContentType!, dernieresNouvelles?.imageSlide6)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide6ContentType + ';base64,' + dernieresNouvelles.imageSlide6" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide6ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide6) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide7">Image Slide 7</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide7">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide7ContentType!, dernieresNouvelles?.imageSlide7)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide7ContentType + ';base64,' + dernieresNouvelles.imageSlide7" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide7ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide7) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide8">Image Slide 8</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide8">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide8ContentType!, dernieresNouvelles?.imageSlide8)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide8ContentType + ';base64,' + dernieresNouvelles.imageSlide8" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide8ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide8) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide9">Image Slide 9</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide9">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide9ContentType!, dernieresNouvelles?.imageSlide9)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide9ContentType + ';base64,' + dernieresNouvelles.imageSlide9" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide9ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide9) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.imageSlide10">Image Slide 10</span></dt>
                <dd>
                    <div *ngIf="dernieresNouvelles.imageSlide10">
                        <a (click)="openFile(dernieresNouvelles?.imageSlide10ContentType!, dernieresNouvelles?.imageSlide10)">
                            <img [src]="'data:' + dernieresNouvelles.imageSlide10ContentType + ';base64,' + dernieresNouvelles.imageSlide10" style="max-width: 100%;" alt="dernieresNouvelles image"/>
                        </a>
                        {{ dernieresNouvelles.imageSlide10ContentType }}, {{ byteSize(dernieresNouvelles.imageSlide10) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore1">Read More 1</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore1 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore2">Read More 2</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore2 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore3">Read More 3</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore3 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore4">Read More 4</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore4 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore5">Read More 5</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore5 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore6">Read More 6</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore6 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore7">Read More 7</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore7 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore8">Read More 8</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore8 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore9">Read More 9</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore9 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.readMore10">Read More 10</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.readMore10 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date1">Date 1</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date1 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date2">Date 2</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date2 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date3">Date 3</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date3 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date4">Date 4</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date4 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date5">Date 5</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date5 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date6">Date 6</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date6 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date7">Date 7</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date7 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date8">Date 8</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date8 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date9">Date 9</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date9 }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.dernieresNouvelles.date10">Date 10</span></dt>
                <dd>
                    <span>{{ dernieresNouvelles.date10 }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dernieres-nouvelles', dernieresNouvelles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
