<div>
    <h2 id="page-heading">
        <!-- <span jhiTranslate="iotaOrignAdminApp.objectifs.home.title">Objectifs</span> -->
        <span>Achievements Section</span>&nbsp;&nbsp; | &nbsp;&nbsp;
        <span style="color: rgb(82, 82, 82); font-size:60%">Cliquez sur l'élément que vous souhaitez mettre à jour.</span>
       
        <button *ngIf="objectifs.length == 0" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objectifs" [routerLink]="['/objectifs/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotaOrignAdminApp.objectifs.home.createLabel">
            Create a new Objectifs
            </span>
        </button>
    </h2>


    <hr>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="objectifs?.length === 0">
        <span jhiTranslate="iotaOrignAdminApp.objectifs.home.notFound">No objectifs found</span>
    </div>

    <!-- <div class="table-responsive" id="entities" *ngIf="objectifs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreFr"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreFr">Titre Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreEn"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreEn">Titre En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreGer"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreGer">Titre Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreSw"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreSw">Titre Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreFr"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreFr">Sous Titre Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreEn"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreEn">Sous Titre En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreGer"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreGer">Sous Titre Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreSw"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreSw">Sous Titre Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Fr">Text Paragraphe 1 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1En">Text Paragraphe 1 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Ger">Text Paragraphe 1 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Sw">Text Paragraphe 1 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Fr">Text Paragraphe 2 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2En">Text Paragraphe 2 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Ger">Text Paragraphe 2 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Sw">Text Paragraphe 2 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Fr">Text Paragraphe 3 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3En">Text Paragraphe 3 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Ger">Text Paragraphe 3 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Sw">Text Paragraphe 3 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Fr">Text Paragraphe 4 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4En">Text Paragraphe 4 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Ger">Text Paragraphe 4 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Sw">Text Paragraphe 4 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Fr">Text Paragraphe 5 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5En">Text Paragraphe 5 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Ger">Text Paragraphe 5 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Sw">Text Paragraphe 5 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="iotaOrignAdminApp.objectifs.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let objectifs of objectifs ;trackBy: trackId">
                    <td><a [routerLink]="['/objectifs', objectifs.id, 'view']">{{ objectifs.id }}</a></td>
                    <td>{{ objectifs.titreFr }}</td>
                    <td>{{ objectifs.titreEn }}</td>
                    <td>{{ objectifs.titreGer }}</td>
                    <td>{{ objectifs.titreSw }}</td>
                    <td>{{ objectifs.sousTitreFr }}</td>
                    <td>{{ objectifs.sousTitreEn }}</td>
                    <td>{{ objectifs.sousTitreGer }}</td>
                    <td>{{ objectifs.sousTitreSw }}</td>
                    <td>{{ objectifs.textParagraphe1Fr }}</td>
                    <td>{{ objectifs.textParagraphe1En }}</td>
                    <td>{{ objectifs.textParagraphe1Ger }}</td>
                    <td>{{ objectifs.textParagraphe1Sw }}</td>
                    <td>{{ objectifs.textParagraphe2Fr }}</td>
                    <td>{{ objectifs.textParagraphe2En }}</td>
                    <td>{{ objectifs.textParagraphe2Ger }}</td>
                    <td>{{ objectifs.textParagraphe2Sw }}</td>
                    <td>{{ objectifs.textParagraphe3Fr }}</td>
                    <td>{{ objectifs.textParagraphe3En }}</td>
                    <td>{{ objectifs.textParagraphe3Ger }}</td>
                    <td>{{ objectifs.textParagraphe3Sw }}</td>
                    <td>{{ objectifs.textParagraphe4Fr }}</td>
                    <td>{{ objectifs.textParagraphe4En }}</td>
                    <td>{{ objectifs.textParagraphe4Ger }}</td>
                    <td>{{ objectifs.textParagraphe4Sw }}</td>
                    <td>{{ objectifs.textParagraphe5Fr }}</td>
                    <td>{{ objectifs.textParagraphe5En }}</td>
                    <td>{{ objectifs.textParagraphe5Ger }}</td>
                    <td>{{ objectifs.textParagraphe5Sw }}</td>
                    <td>
                        <a *ngIf="objectifs.image" (click)="openFile(objectifs.imageContentType, objectifs.image)">
                            <img [src]="'data:' + objectifs.imageContentType + ';base64,' + objectifs.image" style="max-height: 30px;" alt="objectifs image"/>
                        </a>
                        <span *ngIf="objectifs.image">{{ objectifs.imageContentType }}, {{ byteSize(objectifs.image) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/objectifs', objectifs.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/objectifs', objectifs.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(objectifs)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->







<div>


     <!-- START THE SECTION : OBJECTIF  -->
 <section  class="goals">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">

                <!-- <img src="assets/images/mining-13.png" alt="" class="display-4--img w-75 anim-elt-7"> -->
                     
                <div >
                    <a *ngIf="objectifs[0]" class="brand d-inline-block mb-2 anim-elt-1" 
                    (click)="update('image')"
                    [routerLink]="['/objectifs', objectifs[0].id, 'edit']" 
                    >
                        <a *ngIf="objectifs[0].image">
                            <img [src]="'data:' + objectifs[0].imageContentType + ';base64,' + objectifs[0].image" style="width: 80%;" alt="accueil image"/>
                        </a>
                    </a>
                               
                </div>

            </div>    

            <div class="col-md-6 infos--content">
                    <h1 *ngIf="objectifs[0]"
                            class="fw-bold title-style"
                            (click)="update('titre')">
                            <a [routerLink]="['/objectifs', objectifs[0].id, 'edit']">
                                {{ objectifs[0].titreFr }}
                            </a> 
                    </h1>
                    <!-- <div *ngIf="!objectifs[0].titreFr && 
                                    !objectifs[0].titreEn && 
                                    !objectifs[0].titreGer"
                                    (click)="update('paragraphe1')"
                                    [routerLink]="['/objectifs', objectifs[0].id, 'edit']">
                            <a class="text-vide">
                                <span class="vide"> Titre Vide !!</span> <span> ici pour y mettre un texte.</span>
                            </a>
                    </div> -->
                
                              
                    <h4 *ngIf="objectifs[0]"
                    (click)="update('titre')">
                        <a [routerLink]="['/objectifs', objectifs[0].id, 'edit']" 
                            class="sousTitre-style">
                            {{ objectifs[0].sousTitreFr }}
                        </a> 
                    </h4>
                    <!-- <div *ngIf="!objectifs[0].sousTitreFr && 
                                    !objectifs[0].sousTitreEn && 
                                    !objectifs[0].sousTitreGer"
                                    (click)="update('paragraphe1')"
                                    [routerLink]="['/objectifs', objectifs[0].id, 'edit']">
                            <a class="display-4--subheading anim-elt-9">
                                <span class="vide"> Titre Vide !!</span> <span> ici pour y mettre un texte.</span>
                            </a>
                    </div> -->

                    <p class="description--info anim-elt-6">
                        <div (click)="update('paragraphe1')" [routerLink]="['/objectifs', objectifs[0].id, 'edit']" *ngIf="objectifs[0]" >
                            <a class="display-4--description anim-elt-10  text-vide">
                                {{ objectifs[0].textParagraphe1Fr }}
                            </a>
                        </div>
                        <!-- <div *ngIf="!objectifs[0].textParagraphe1Fr && 
                                    !objectifs[0].textParagraphe1En && 
                                    !objectifs[0].textParagraphe1Ger"
                                    (click)="update('paragraphe1')"
                                    [routerLink]="['/objectifs', objectifs[0].id, 'edit']">
                            <a class="text-vide">
                                <span class="vide"> Paragraphe Vide !!</span> <span> ici pour y mettre un texte.</span>
                            </a>
                        </div> -->
                    </p>

                </div>


        </div>
    </div>
</section>


</div>