<div>
   
    <h3 id="page-heading" class="intro-button">
        <a> 
           <span (click)="back()">
                <img src="../../../content/images/iotaOrign-images/arrow-left.png" width="3%" alt="back">
                <span class="arrow-back" jhiTranslate="iotaOrignAdminApp.objectifs.home.backButton">Back</span>    
            </span>
        </a>
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <span jhiTranslate="iotaOrignAdminApp.objectifs.home.title">Objectifs Section</span>
         &nbsp;&nbsp; | &nbsp;&nbsp;
        <span *ngIf="objectifs.length > 0" style="color: rgb(82, 82, 82); font-size:60%" jhiTranslate="iotaOrignAdminApp.objectifs.home.consigne">
            Cliquez sur l'élément que vous souhaitez mettre à jour.
        </span>    

        <button *ngIf="objectifs.length < 1" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-objectifs" 
            [routerLink]="['/objectifs/new']"
            (click)="createObjectifs()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotaOrignAdminApp.objectifs.home.createLabel">Create a new A Propos</span>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button *ngIf="objectifs.length >= 0" type="submit" (click)="delete(objectifs[0])"
                class="btn btn-danger btn-sm">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </h3>

    <hr>







    <!-- <jhi-alert-error></jhi-alert-error> -->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="objectifs?.length === 0">
        <span jhiTranslate="iotaOrignAdminApp.objectifs.home.notFound">No objectifs found</span>
    </div>



    <!-- <div class="table-responsive" id="entities" *ngIf="objectifs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreFr"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreFr">Titre Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreEn"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreEn">Titre En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreGer"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreGer">Titre Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titreSw"><span jhiTranslate="iotaOrignAdminApp.objectifs.titreSw">Titre Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreFr"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreFr">Sous Titre Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreEn"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreEn">Sous Titre En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreGer"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreGer">Sous Titre Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sousTitreSw"><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreSw">Sous Titre Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Fr">Text Paragraphe 1 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1En">Text Paragraphe 1 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Ger">Text Paragraphe 1 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe1Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Sw">Text Paragraphe 1 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Fr">Text Paragraphe 2 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2En">Text Paragraphe 2 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Ger">Text Paragraphe 2 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe2Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Sw">Text Paragraphe 2 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Fr">Text Paragraphe 3 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3En">Text Paragraphe 3 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Ger">Text Paragraphe 3 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe3Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Sw">Text Paragraphe 3 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Fr">Text Paragraphe 4 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4En">Text Paragraphe 4 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Ger">Text Paragraphe 4 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe4Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Sw">Text Paragraphe 4 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Fr"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Fr">Text Paragraphe 5 Fr</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5En"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5En">Text Paragraphe 5 En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Ger"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Ger">Text Paragraphe 5 Ger</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="textParagraphe5Sw"><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Sw">Text Paragraphe 5 Sw</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="image"><span jhiTranslate="iotaOrignAdminApp.objectifs.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let objectifs of objectifs ;trackBy: trackId">
                    <td><a [routerLink]="['/objectifs', objectifs.id, 'view']">{{ objectifs.id }}</a></td>
                    <td>{{ objectifs.titreFr }}</td>
                    <td>{{ objectifs.titreEn }}</td>
                    <td>{{ objectifs.titreGer }}</td>
                    <td>{{ objectifs.titreSw }}</td>
                    <td>{{ objectifs.sousTitreFr }}</td>
                    <td>{{ objectifs.sousTitreEn }}</td>
                    <td>{{ objectifs.sousTitreGer }}</td>
                    <td>{{ objectifs.sousTitreSw }}</td>
                    <td>{{ objectifs.textParagraphe1Fr }}</td>
                    <td>{{ objectifs.textParagraphe1En }}</td>
                    <td>{{ objectifs.textParagraphe1Ger }}</td>
                    <td>{{ objectifs.textParagraphe1Sw }}</td>
                    <td>{{ objectifs.textParagraphe2Fr }}</td>
                    <td>{{ objectifs.textParagraphe2En }}</td>
                    <td>{{ objectifs.textParagraphe2Ger }}</td>
                    <td>{{ objectifs.textParagraphe2Sw }}</td>
                    <td>{{ objectifs.textParagraphe3Fr }}</td>
                    <td>{{ objectifs.textParagraphe3En }}</td>
                    <td>{{ objectifs.textParagraphe3Ger }}</td>
                    <td>{{ objectifs.textParagraphe3Sw }}</td>
                    <td>{{ objectifs.textParagraphe4Fr }}</td>
                    <td>{{ objectifs.textParagraphe4En }}</td>
                    <td>{{ objectifs.textParagraphe4Ger }}</td>
                    <td>{{ objectifs.textParagraphe4Sw }}</td>
                    <td>{{ objectifs.textParagraphe5Fr }}</td>
                    <td>{{ objectifs.textParagraphe5En }}</td>
                    <td>{{ objectifs.textParagraphe5Ger }}</td>
                    <td>{{ objectifs.textParagraphe5Sw }}</td>
                    <td>
                        <a *ngIf="objectifs.image" (click)="openFile(objectifs.imageContentType, objectifs.image)">
                            <img [src]="'data:' + objectifs.imageContentType + ';base64,' + objectifs.image" style="max-height: 30px;" alt="objectifs image"/>
                        </a>
                        <span *ngIf="objectifs.image">{{ objectifs.imageContentType }}, {{ byteSize(objectifs.image) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/objectifs', objectifs.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/objectifs', objectifs.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(objectifs)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->







<div>


     <!-- START THE SECTION : OBJECTIF  -->
 <section  class="goals">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
 
                <div >
                    <a *ngIf="objectifs[0]" class="brand d-inline-block mb-2 anim-elt-1" 
                    (click)="update('image')"
                    [routerLink]="['/objectifs', objectifs[0].id, 'edit']" 
                    >
                        <a *ngIf="objectifs[0].image">
                            <img [src]="'data:' + objectifs[0].imageContentType + ';base64,' + objectifs[0].image" style="width: 80%;" alt="accueil image"/>
                        </a>
                    </a>                          
                </div>

            </div>    

            <div class="col-md-6 infos--content">
                    <h1 *ngIf="objectifs[0]"
                            class="fw-bold title-style"
                            (click)="update('titre')">
                            <a [routerLink]="['/objectifs', objectifs[0].id, 'edit']">
                                <!-- {{ objectifs[0].titreFr }} -->
                                <span *ngIf="languageService.currentLang === 'fr'">{{objectifs[0].titreFr}}</span>
                                <span *ngIf="languageService.currentLang === 'en'">{{objectifs[0].titreEn}}</span>
                                <span *ngIf="languageService.currentLang === 'es'">{{objectifs[0].titreSw}}</span>
                                <span *ngIf="languageService.currentLang === 'de'">{{objectifs[0].titreGer}}</span>
                            </a> 
                    </h1>
                              
                    <h4 *ngIf="objectifs[0]"
                    (click)="update('soustitre')">
                        <a [routerLink]="['/objectifs', objectifs[0].id, 'edit']" 
                            class="sousTitre-style">
                            <!-- {{ objectifs[0].sousTitreFr }} -->
                            <span *ngIf="languageService.currentLang === 'fr'">{{objectifs[0].sousTitreFr}}</span>
                            <span *ngIf="languageService.currentLang === 'en'">{{objectifs[0].sousTitreEn}}</span>
                            <span *ngIf="languageService.currentLang === 'es'">{{objectifs[0].sousTitreSw}}</span>
                            <span *ngIf="languageService.currentLang === 'de'">{{objectifs[0].sousTitreGer}}</span>
                        </a> 
                    </h4>
                  

                    <p class="description--info anim-elt-6">
                        <div (click)="update('paragraphe1')" [routerLink]="['/objectifs', objectifs[0].id, 'edit']" *ngIf="objectifs[0]" >
                            <a class="display-4--description anim-elt-10  text-vide">
                                <!-- {{ objectifs[0].textParagraphe1Fr }} -->
                                <div *ngIf="languageService.currentLang === 'fr'" [innerHTML]="objectifs[0].textParagraphe1Fr"></div>
                                <div *ngIf="languageService.currentLang === 'en'" [innerHTML]="objectifs[0].textParagraphe1En"></div>
                                <div *ngIf="languageService.currentLang === 'es'" [innerHTML]="objectifs[0].textParagraphe1Sw"></div>
                                <div *ngIf="languageService.currentLang === 'de'" [innerHTML]="objectifs[0].textParagraphe1Ger"></div>
                            </a>
                        </div>
                      
                    </p>

                </div>


        </div>
    </div>
</section>


</div>