<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="objectifs">
            <h2><span jhiTranslate="iotaOrignAdminApp.objectifs.detail.title">Objectifs</span> {{ objectifs.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.titreFr">Titre Fr</span></dt>
                <dd>
                    <span>{{ objectifs.titreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.titreEn">Titre En</span></dt>
                <dd>
                    <span>{{ objectifs.titreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.titreGer">Titre Ger</span></dt>
                <dd>
                    <span>{{ objectifs.titreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.titreSw">Titre Sw</span></dt>
                <dd>
                    <span>{{ objectifs.titreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreFr">Sous Titre Fr</span></dt>
                <dd>
                    <span>{{ objectifs.sousTitreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreEn">Sous Titre En</span></dt>
                <dd>
                    <span>{{ objectifs.sousTitreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreGer">Sous Titre Ger</span></dt>
                <dd>
                    <span>{{ objectifs.sousTitreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.sousTitreSw">Sous Titre Sw</span></dt>
                <dd>
                    <span>{{ objectifs.sousTitreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Fr">Text Paragraphe 1 Fr</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe1Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1En">Text Paragraphe 1 En</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe1En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Ger">Text Paragraphe 1 Ger</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe1Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe1Sw">Text Paragraphe 1 Sw</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe1Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Fr">Text Paragraphe 2 Fr</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe2Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2En">Text Paragraphe 2 En</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe2En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Ger">Text Paragraphe 2 Ger</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe2Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe2Sw">Text Paragraphe 2 Sw</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe2Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Fr">Text Paragraphe 3 Fr</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe3Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3En">Text Paragraphe 3 En</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe3En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Ger">Text Paragraphe 3 Ger</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe3Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe3Sw">Text Paragraphe 3 Sw</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe3Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Fr">Text Paragraphe 4 Fr</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe4Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4En">Text Paragraphe 4 En</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe4En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Ger">Text Paragraphe 4 Ger</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe4Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe4Sw">Text Paragraphe 4 Sw</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe4Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Fr">Text Paragraphe 5 Fr</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe5Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5En">Text Paragraphe 5 En</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe5En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Ger">Text Paragraphe 5 Ger</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe5Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.textParagraphe5Sw">Text Paragraphe 5 Sw</span></dt>
                <dd>
                    <span>{{ objectifs.textParagraphe5Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.objectifs.image">Image</span></dt>
                <dd>
                    <div *ngIf="objectifs.image">
                        <a (click)="openFile(objectifs?.imageContentType!, objectifs?.image)">
                            <img [src]="'data:' + objectifs.imageContentType + ';base64,' + objectifs.image" style="max-width: 100%;" alt="objectifs image"/>
                        </a>
                        {{ objectifs.imageContentType }}, {{ byteSize(objectifs.image) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/objectifs', objectifs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
