<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="googleAnalitcs">
            <h2><span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.detail.title">Google Analitcs</span> {{ googleAnalitcs.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.googleAnalyticsID">Google Analytics ID</span></dt>
                <dd>
                    <span>{{ googleAnalitcs.googleAnalyticsID }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/google-analitcs', googleAnalitcs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
