<div>
    <!-- <h2 id="page-heading">
        <span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.title">Google Analitcs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-google-analitcs" [routerLink]="['/google-analitcs/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.createLabel">
            Create a new Google Analitcs
            </span>
        </button>
    </h2> -->




    <h3 id="page-heading" class="intro-button">
        <a> 
           <span (click)="back()">
                <img src="../../../content/images/iotaOrign-images/arrow-left.png" width="3%" alt="back">
                <span class="arrow-back" jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.backButton">Back</span>    
            </span>
        </a>
        &nbsp;&nbsp; | &nbsp;&nbsp;
        <span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.title">Intro Section</span>
         &nbsp;&nbsp; | &nbsp;&nbsp;
        <span *ngIf="googleAnalitcs.length > 0" style="color: rgb(82, 82, 82); font-size:60%" jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.consigne">
            Cliquez sur l'élément que vous souhaitez mettre à jour.
        </span>    

        <button *ngIf="googleAnalitcs.length < 1" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-googleAnalitcs" 
            [routerLink]="['/google-analitcs/new']" (click)="createGoogleStatID()">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.createLabel">
            Create a new Accueil
            </span>
        </button>
        <!-- &nbsp;&nbsp;&nbsp;
        <button *ngIf="googleAnalitcs.length >= 1" type="submit" (click)="delete(googleAnalitcs[0])"
                class="btn btn-danger btn-sm">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
        </button> -->


        <button type="submit" *ngIf="googleAnalitcs.length >= 1" [routerLink]="['/google-analitcs', googleAnalitcs[0].id, 'edit']"
                class="btn btn-primary btn-sm">
            <fa-icon icon="pencil-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
        </button>

    </h3>




    <!-- <jhi-alert-error></jhi-alert-error> -->

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="googleAnalitcs?.length === 0">
        <span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.home.notFound">No googleAnalitcs found</span>
    </div>




<!-- 
    <div class="table-responsive" id="entities" *ngIf="googleAnalitcs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="googleAnalyticsID"><span jhiTranslate="iotaOrignAdminApp.googleAnalitcs.googleAnalyticsID">Google Analytics ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let googleAnalitcs of googleAnalitcs ;trackBy: trackId">
                    <td><a [routerLink]="['/google-analitcs', googleAnalitcs.id, 'view']">{{ googleAnalitcs.id }}</a></td>
                    <td>{{ googleAnalitcs.googleAnalyticsID }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/google-analitcs', googleAnalitcs.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/google-analitcs', googleAnalitcs.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(googleAnalitcs)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> -->




</div>
