/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.auth-text {
  text-align: center;
  background: rgb(209, 209, 209);
}

.logo-styl {
  text-align: center;
  
}

.logo {
  width: 80%;
}

.panel-section {
  text-align: center;
}

.panel-section-bloc {
  margin-bottom: 2%;
  text-align: center;
}

.panel-section-cart-title {
  background: linear-gradient(to right, rgba(25, 88, 162, 0.95), rgba(93, 186, 71, 0.95)) !important;
  border-radius: 10px 0px 10px 0px;
  color: white;
}

.page-title {
  text-align: center;
  font-size: 150%;
  color: rgb(99, 97, 97);
  font-weight: bold;
}

.card-text-2 {
  color: rgb(94, 94, 94);
}