<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="service">
            <h2><span jhiTranslate="iotaOrignAdminApp.service.detail.title">Service</span> {{ service.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iotaOrignAdminApp.service.titreFr">Titre Fr</span></dt>
                <dd>
                    <span>{{ service.titreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.titreEn">Titre En</span></dt>
                <dd>
                    <span>{{ service.titreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.titreGer">Titre Ger</span></dt>
                <dd>
                    <span>{{ service.titreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.titreSw">Titre Sw</span></dt>
                <dd>
                    <span>{{ service.titreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.sousTitreFr">Sous Titre Fr</span></dt>
                <dd>
                    <span>{{ service.sousTitreFr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.sousTitreEn">Sous Titre En</span></dt>
                <dd>
                    <span>{{ service.sousTitreEn }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.sousTitreGer">Sous Titre Ger</span></dt>
                <dd>
                    <span>{{ service.sousTitreGer }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.sousTitreSw">Sous Titre Sw</span></dt>
                <dd>
                    <span>{{ service.sousTitreSw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe1Fr">Text Paragraphe 1 Fr</span></dt>
                <dd>
                    <span>{{ service.textParagraphe1Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe1En">Text Paragraphe 1 En</span></dt>
                <dd>
                    <span>{{ service.textParagraphe1En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe1Ger">Text Paragraphe 1 Ger</span></dt>
                <dd>
                    <span>{{ service.textParagraphe1Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe1Sw">Text Paragraphe 1 Sw</span></dt>
                <dd>
                    <span>{{ service.textParagraphe1Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe2Fr">Text Paragraphe 2 Fr</span></dt>
                <dd>
                    <span>{{ service.textParagraphe2Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe2En">Text Paragraphe 2 En</span></dt>
                <dd>
                    <span>{{ service.textParagraphe2En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe2Ger">Text Paragraphe 2 Ger</span></dt>
                <dd>
                    <span>{{ service.textParagraphe2Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe2Sw">Text Paragraphe 2 Sw</span></dt>
                <dd>
                    <span>{{ service.textParagraphe2Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe3Fr">Text Paragraphe 3 Fr</span></dt>
                <dd>
                    <span>{{ service.textParagraphe3Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe3En">Text Paragraphe 3 En</span></dt>
                <dd>
                    <span>{{ service.textParagraphe3En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe3Ger">Text Paragraphe 3 Ger</span></dt>
                <dd>
                    <span>{{ service.textParagraphe3Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe3Sw">Text Paragraphe 3 Sw</span></dt>
                <dd>
                    <span>{{ service.textParagraphe3Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe4Fr">Text Paragraphe 4 Fr</span></dt>
                <dd>
                    <span>{{ service.textParagraphe4Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe4En">Text Paragraphe 4 En</span></dt>
                <dd>
                    <span>{{ service.textParagraphe4En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe4Ger">Text Paragraphe 4 Ger</span></dt>
                <dd>
                    <span>{{ service.textParagraphe4Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe4Sw">Text Paragraphe 4 Sw</span></dt>
                <dd>
                    <span>{{ service.textParagraphe4Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe5Fr">Text Paragraphe 5 Fr</span></dt>
                <dd>
                    <span>{{ service.textParagraphe5Fr }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe5En">Text Paragraphe 5 En</span></dt>
                <dd>
                    <span>{{ service.textParagraphe5En }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe5Ger">Text Paragraphe 5 Ger</span></dt>
                <dd>
                    <span>{{ service.textParagraphe5Ger }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.textParagraphe5Sw">Text Paragraphe 5 Sw</span></dt>
                <dd>
                    <span>{{ service.textParagraphe5Sw }}</span>
                </dd>
                <dt><span jhiTranslate="iotaOrignAdminApp.service.image">Image</span></dt>
                <dd>
                    <div *ngIf="service.image">
                        <a (click)="openFile(service?.imageContentType!, service?.image)">
                            <img [src]="'data:' + service.imageContentType + ';base64,' + service.image" style="max-width: 100%;" alt="service image"/>
                        </a>
                        {{ service.imageContentType }}, {{ byteSize(service.image) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service', service.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
