.faqs-style {
  color:  #4c7543;
  font-size: 400%;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 5%;
  text-decoration: none;
}

.faqs-style1 {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}


.intro-button {
  position: relative;
  z-index: 10;
}


.arrow-back {
  color: #3e8acc;
  font-size: 70%;
}


.espace {
  margin-top: 3%;
}

.titre-card {
  font-weight:bold;
  text-decoration: none;
}

.paragraphe-style {
  font-weight: 200;
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.accordion-title-update {
  font-weight: bold !important;
}